.analytic {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.info-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.info-card {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-card h2 {
  margin-top: 0;
}
.chart-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}
.pie-chart,
.bar-chart {
  width: 100%;
  height: 500px;
  max-width: 500px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
