body {
  margin: 0;
}
.container {
  width: 100%;
  max-width: 1200px;
}
.h-full {
  height: 100%;
}
.w-full {
  width: 100%;
}
.h-screen {
  height: 100vh;
}
.w-screen {
  width: 100vw;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.gap-4 {
  gap: 1rem;
}
.space-y-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form-group label {
  font-weight: 600;
}
.form-group input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid #ccc;
}
.form-group input:focus {
  outline: none;
  border-color: #00000093 !important;
}
.form-select {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
.form-select select {
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid #ccc;
}
.text-red-500 {
  color: #ff0000;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  10%,
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
